
/*��̬*/
#Dynamics .wrapper {
    height: 152px;
    margin-top: 10px;

}

#Dynamics #log {
    height: 152px;
    width: 660px;
    float: left;
}

#Dynamics .D1 {
    width: 640px;
    height: 35px;
    margin-bottom: 10px;
}

#Dynamics .D2 {
    width: 400px;
    height: 35px;
    margin-bottom: 10px;
}

#Dynamics .D1 h4, #Dynamics .D2 h4 {
    float: left;
    margin-top: 6px;
}

#Dynamics .more {
    width: 100px;
    height: 30px;
    float: right;
    line-height: 30px;
    font-size: 13px;
    color: #000;
}

#Dynamics .list1 .l1, #Dynamics .list2 .l2 {
    background: url(../image/home-bg1.png) no-repeat left center
}

#Dynamics .list1 .l1 {
    float: left;
    padding-left: 15px;
    margin-left: 10px;
    width: 295px;
    height: 30px;
    line-height: 30px;
}

#Dynamics .list1 .l1 a {
    height: 14px;
    text-align: center;
    font-size: 12px;
    color: #000;
}

#Dynamics #notice {
    width: 400px;
    height: 152px;
    float: left;
}

#Dynamics .list2 {
    width: 380px;
    height: 90px;
    border: #333 1px dotted;
}

#Dynamics .list2 .l2 {
    width: 360px;
    height: 28px;
    line-height: 28px;
    text-align: center;
}

#Dynamics .list2 .l2 a {
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: #000;
}

/*====================================================*/
/*�Ƽ�*/
#Popular {
    height: 450px;
    background-color: #F5F5F5;
}

#Popular h2 {
    padding-top: 40px;
    padding-bottom: 15px;
    color: #666666;
    text-align: center;
}

#Popular h3 {
    padding-bottom: 35px;
    color: #666666;
    text-align: center;
}

#Popular .PC {
    height: 209px;
    margin-bottom: 30px;
    display: block;
}

#Popular .course {
    width: 194px;
    height: 209px;
    padding-right: 15px;
    float: left;
}

#Popular .course h3 {
    font-size: 17px;
    text-color: #000;
    text-align: center;
    height: 22px;
    line-height: 22px;
}

#Popular .bg1, .bg2, .bg3, .bg4, .bg5 {
    background-repeat: no-repeat;
}

#Popular .more {
    display: block;
    float: right;
    line-height: 30px;
    width: 100%;
    height: 30px;
    padding-top: 20px;
    text-align: center;

}

#Popular .more a {
    color: #333333;
}

#Popular .more a:hover {
    color: #fff;
}

/*====================================================*/
/*����*/
#Introduce {
    height: 324px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #93C47D;
}

#Introduce .wrapper2 {
    height: 324px;
    padding-top: 10px;
}

#Introduce .float {
    width: 100%;
    height: 35px;
    padding-left: 162px;
    float: left;
}

#Introduce #left, #right {
    display: block;
    width: 100px;
    height: 35px;
    float: left;
}

#Introduce #left {
    color: #333;
    background-color: #F5F5F5;
    line-height: 35px;
    text-align: center;
}

#Introduce #right {
    color: #333;
    background-color: #FEE157;
    line-height: 35px;
    text-align: center;
}

#Introduce .intr {
    color: #fff;
    text-align: center;
    display: block;
}

#Introduce .in1 {
    padding: 0 10px;
    font-weight: bold;
    font-size: 35px;
    height: 73px;
    line-height: 73px;
}

#Introduce .in3 {
    font-size: 22px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px #fff solid;
    height: 55px;
    line-height: 55px;
}

#Introduce .in6 {
    text-align: left;
    font-size: 13px;
    height: 90px;
    line-height: 30px;
}

#Introduce .more {
    display: block;
    /*float: right;*/
    line-height: 20px;
    width: 100%;
    height: 30px;
    padding-top: 20px;
    text-align: center;
}

#Introduce .more>a {
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    width: 90px;
    height: 30px;
    line-height: 30px;
}

#Introduce .more a:hover {
    background-color: #fff;
    border: 1px solid #333;
    color: #333;
}

/*======================================================*/
/*����&����*/
#sign {
    background-color: #FEE157;
    height: 370px;
    padding-top: 30px;
    padding-bottom: 30px;
}

#sign .wrapper {
    padding-top: 5px;
    padding-bottom: 5px;
    height: 360px;
}
#sign .float_layer{
    height: 360px;
    padding:5px 0;
}

/*����-��������*/
#sign #problem {
    width: 675px;
    height: 270px;
    float: left;
}

#sign #problem .D3 {
    width: 580px;
    height: 35px;
    margin-bottom: 10px;
}

#sign .D3>h4 {
    float: left;
    margin-top: 6px;
}

#sign .more {
    display:block;
    width: 100px;
    height: 30px;
    float: right;
    line-height: 30px;
    font-size: 13px;
    color: #000;
}

#sign .list1 {
    width: 600px;
    height: 150px;
    border: #333 1px dotted;
    padding: 20px;
}

#sign .list1 .l1 {
    background: url(../image/Problem-bg.png) no-repeat left center;
    padding-left: 15px;
    margin-left: 10px;
    padding-button: 2px;
    border-bottom: 1px dotted #333333;
}

#sign .list1 .l1>a {
    height: 16px;
    text-align: center;
    font-size: 14px;
    color: #000;
    line-height: 16px;
}

#sign .list1 .l1 a:hover {
    color: #fff;
}
/*===================================*/
/*����-������ϵ*/
#sign .contact {
    float: left;
    width: 335px;
    height: 356px;
}

#sign .contract +h4{
    width: 335px;
    height: 32px;
    padding-top: 10px;
    padding-bottom: 15px;
    line-height: 32px;
}

#sign #excel {
    text-align: center;
    float: left;
    width: 333px;
    height: 257px;
    padding-top: 20px;
    padding-bottom: 20px;
    border:1px dotted #666;
}

#excel .c-top{
    margin-bottom: 5px;
}

#excel .contract .c-l{
    display: block;
    width: 260px;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    height: 30px;
    color: #333333;
}

#excel .c-down{
    width: 350px;
    height: 28px;
    text-indent: 5px;
    margin-bottom: 5px;
}

#excel .in-border{
    display: block;
    margin: 0 30px;
    width: 260px;
    height: 28px;
    outline: none;
    text-indent: 5px;
    overflow: hidden;
    border: #ccc 1px dotted;
}

#excel .s-button{
    width: 100px;
    height: 25px;
    outline: none;
    outline: none;
    background-color: #3c3b3b;
    color: #fff;
    border: 1px solid #3c3b3b;
}

#excel .s-button:hover{
    background-color: #fff;
    color: #3c3b3b;

}