/*header*/
#header{
    background: url(../img/banner.jpg) no-repeat center;
    -webkit-background-size: cover;
    min-height: 250px;
}
#login a:hover{
    text-decoration: underline;
    /*border-bottom: 1px solid #fff;*/
}
#login, #header h1{
    color: #fff;
    width: 380px;
}
#login a{
    color: #fff;
}
div.float#cart{
    width: 260px;
    height: 30px;
    background: #000 url(../img/cart.png) 230px no-repeat;
    opacity: .7;/* 取值范围0~1 */
    /*filter: alpha(opacity=50); ie下  取值范围0~100 */
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 25px;
    line-height: 30px;
    float: right;
}
#header img{
    vertical-align: middle;
}
#header .float{
    float: left;
}
#header h1.float{
    text-align: center;
}

/*主菜单*/
body{
    height: 600px;
}

#main-header{
    height: 100px;
    line-height: 100px;
}
#nav li{
    width: 190px;
    height: 40px;
    background: #fa558f;
    float: left;
    text-align: center;
    line-height: 40px;
}
#nav li:hover{
    background: #3c3b3b;
}
#nav a{
    /*让a充满所属整个选框，行转块*/
    color: #fff;
    width: 100%;
    height: 100%;
    display: block;
}
#nav .selected{
    background: #3c3b3b;
}
#sub-menu{
    width: 1140px;
    height: 300px;
    background: #434343;
    margin-left: -190px;
    display: none;
    position: absolute;
}
#makeup:hover #sub-menu{
    /*显示子单*/
    display: block;
    z-index: 9999px;
    opacity: 0.9;
}

#clear{
    color:#fff;
    width: 70px;
    height: 10px;
    position: relative;
    left: 200px;
    top: 35px;
    font-size:10px;

}

/*=========================================================*/
#product.wrapper{
    margin-top: 20px;
    height: 1000px;
}

#product .float-area{
    height: 1040px;
}

#product #main-titile{
    margin-top: 30px;
    margin-bottom: 15px;
}

#product #left{
    float: left;
    margin-right: 20px;
}

#product .dark{
    display: block;
    background-color: #464646;
    color: #fff;
    height: 15px;
    line-height: 15px;
    padding: 10px;
    margin-bottom: 19px;
}

#product .tag{
}

#product .gray{
    display: block;
    padding: 5px 10px;
    height: 32px;
    width: 240px;
    color: #333333;
    background-color:#F5F5F5 ;
    line-height: 32px;
    margin-bottom: 10px;

}

#product .arrow{
    display: block;
    float: right;
    margin-top:13px;
}

#product #category{
    width: 240px;
}

/*右侧列表*/
#product .info-list{
    height: 1000px;
}

#product .product-info{
    display: block;
    margin:10px 5px;
    float: left;
    border:solid 1px #ccc;
    width: 248px;
}

#product .product-info img{
    width: 248px;
    height: 248px;
    border-right:solid 1px;
    border-color: #ccc;
    vertical-align: bottom;
}

#product .product-detail{
    width: 248px;
    height: 192px;
    background-color: #ffcc88;
}

#product .detail-bk{
    width: 240px;
    height: 180px;
    position:relative;
    padding-top:10%;
    padding-left: 10%;
}

#product .product-info h3{
    /*text-align: center;*/
    color:#fff;
}

.product-detail input{
    margin: 8px 0;
    width: 130px;
    height: 20px;
    text-indent: 10px;
}

#add{
    color:#fff;
    background-color: #ef8743;
    width: 120px;
    height: 43px;
    position:center;
    border: 0;
    outline: none;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 14px;
    cursor: pointer;
}

#add:hover{
    background-color: #fff;
    border: 1px solid #ef8743;
    color: #333333;
}

/*==================================================*/
/*页脚*/
#footer{
    background: #fa558f;
    height: 83px;
    line-height: 83px;
}

#footer .wrapper{
    width: 1140px;
}

#footer h2,h3{
    color: #fff;
}

#footer h2{
    float:left;
}
#footer h3{
    float: right;
}