#header{
	display: flex;
	height:100px;
	border-bottom:2px solid #707070;
}
/*==================================*/
#menu{
	width:40%;
	padding:27px 10px;
	display:block;
}
#menu>img{
	height:25px;
	width:40px;
}
#menu>span{
	color:#4e4e4e;
	font-size:12px;
	padding:6px;
	letter-spacing: 4px
}
#nav-logo{
	display:block;
	width:17%;
	padding:15px 0;
	text-align:center;
}
#nav-logo>img{
	width:73px;
	margin:0 auto;
}

#nav-club{
	display:block;
	width:43%;
	padding:0 15px;
}
#nav-club>span{
	position:absolute;
	right:0;
	margin:27px 15px;
}
#nav-club >span>a{
	color:#b89f7a;
	font-weight: bold;
	cursor:pointer;
}
/*==================================*/
#banner,#banner>a>img{
	width:100%;
}
#banner>span{
	text-align:center;
	display:block;
	background:#47474A;
	width:24px;
	height:21px;
	line-height:21px;
	font-size:12px;
	padding:0 5px;
	right: 32px;
	position:absolute;
	top:120px;
	color:#fff;
}
#banner >a>span{
	position:relative;
	bottom: 20px;
	right:25px;
	color:#fff;
	display:block;
}
/*==================================*/
#my-starbucks{
	width:100%;
	height:220px;
	background:#0F0F0F;
	color:#fff;
}

#starcard-pic{
	width:260px;
	height:220px;
	padding-left:90px;
}
#starcard-pic>p{
	color:#fff;
}
#starcard-pic>div{
	display:block;
	width: 160px;
	height: 40px;
	background:url('../img/home/rewards_logo_20170209.svg')contain no-repeat;
}
/*==================================*/
#download{
	background: url('../img/home/app_bg.gif') repeat scroll center;
	height:220px;
}
/*==================================*/
#2017-mooncake{
	width:100%;
	vertical-align: middle;
}

/*==================================*/
#mosaic{
	width:100%;
	height:100%;
	position: absolute;
    top: 0;
    left: 0;
}

#mosaic .mosaic{
	width:50%;
}
#mosaic-left{
	float:left;
	backgournd:url('../img/index/summer3-wave1-tmall.jpg');
}
#mosaic-right{
	float:right;
	backgournd:url('../img/index/FT-Grid (2)-20170328191448.jpg');
}

/*==================================*/
#yxs{
	background: #106e4b;
	width: 100%;
	height:222px;
}
/*==================================*/
#apple-watch{
	width: 100%;
    height: 220px;
    text-align: center;
	background: url('../img/app-watch/web-bg.png') repeat-x;
}
#apple-watch>img{
	display: inline-block;
    vertical-align: top;
    width: 408px;
    height: 220px;
}
/*==================================*/
#collection{
	background-color: #f5f5f5;
	padding:80px 16px;
	width:100%;
	height:486px;
}
/*==================================*/
online-order{
	background-color: #060608;
    padding: 40px 0;
}
/*==================================*/
#footer{
	background: #292929;
    color: #A3A3A3;
    padding: 60px 0 20px;
	width:100%;
	height:746px;
}







